*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body {
	background-color: #171B1B;
}
.logo{
	display: block;
/*	position: absolute;*/
	width: 106px;
	height:48px;
	margin-left: 134px;
	top: 10px;
