*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body {
	background-color: #171B1B;
}
.logo{
	display: block;
/*	position: absolute;*/
	width: 106px;
	height:48px;
	margin-left: 134px;
	top: 10px;
}
nav,a{
	display: inline-block;
	display: flex;
	margin: 10px;
/*	margin-left: 150px;*/
/*	margin-top: -10px;*/
	text-decoration: none;   
	color: #FFFFFF;
}
button{
	width: 55px;
	height: 24px;
	color: #FFFFFF;
	margin: 20px;
	margin-left: 1300px;
	background-color: #171B1B;
	top: 11px;
	left: 41.52px;
}

.wrapper,h2{
	width: 412px;
	font-weight: 400;
	font-size: 72px;
	line-height: 80px;
}
.wrapper,h5{
	font-family: oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.wrapper{
	color: #ffffff;
	margin-top: 10px;
}
.wrapper,p{
	width: 470px;
	height: 70px;
	top: 569;
	left: 135px;
}
.bread{
	float: right;
}
.figure{
	float: left;
}