*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body {
	background-color: #171B1B;
}
.logo{
	display: block;
/*	position: absolute;*/
	width: 106px;
	height:48px;
	margin-left: 134px;
	top: 10px;
}
nav,a{
	display: flex;
	margin: 10px;
	margin-left: 150px;
/*	margin-top: -10px;*/
	text-decoration: none;   
	color: #FFFFFF;
}
